/* General Styles */
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  /* Styles for individual components can remain in their own CSS files */
  